*,*::before,*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --gray:#f0eef1;
    --light-green : #9fff9c;
    --light-red : #ff9c9c;
    --white : #fffbfb;
    --dark-gray:#a8acb5;
    --hover-gray:#f5f5f5;

    --border-radius : 1rem;
    --box-shadow : 5px 5px 10px rgba(0, 0, 0, 0.3) ;
   
}
body {
    height: 100vh;
    font-family:'Poppins', sans-serif;
    background-color: var(--gray);
    display: grid;
    grid-template-areas: "header" "main" "footer" ;
    grid-template-rows: auto 1fr auto;
}

header {
    grid-area: header;
    text-align: center;
    padding: 20px 0;
    text-transform:capitalize;
    background-color: var(--white);
    box-shadow:var(--box-shadow) ;
}

/* input styling */

main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(30px , 10vw , 65px);
}

.inputContainer > div.inputBox {
    min-width: 165px;
}

.inputBox {
    background-color: var(--white);
    box-shadow: var(--box-shadow) ;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 0.8rem;
    padding: 10px;
}

.inputBox div{
    display: flex;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.inputBox div span {
    padding-left: 15px;
    font-size: 0.6rem;
    color: var(--light-red);


}
.inputBox h2 {
    font-weight: 500;
    font-size: 1rem;
    border-bottom: 1px solid var(--dark-gray);
}

label.textLabel {
    position: absolute;
    font-size: 0.5rem;
    left: 20px;
    top: 0;
    visibility: hidden;
}
input[type="text"]:focus::placeholder {
    visibility: hidden;
}
input[type="text"]:focus ~ label.textLabel {
    visibility: visible;
}

label:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

input[type="text"] {
    outline: none;
    border: 0.1px solid black;
    padding :10px;
    width: 90%;
    border-radius:var(--border-radius) ;
    align-self: center;    

}

button.startBtn {
    font-size: 1.5rem;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    padding: 5px 15px ;
}

button.startBtn:hover {
    cursor: pointer;
}
button.startBtn:active {
    /* will do later */
}

/* board styling */

div.board {
    /* display: grid; */
    grid-template: repeat(3,minmax(80px,100px)) / repeat(3,minmax(80px,100px));
    gap: 10px;
    transform: scale(1);
    transition: ease-in-out 0.5s;
    visibility: visible;
    display: none;
}

div.board.hiddenBoard {
    visibility: hidden;
    transition: ease-in-out 0.5s;
    transform: scale(0);
}
div.hidden {
    transform: scale(0);
    transition: ease-in-out 0.5s;
    visibility: hidden;
}

div.board div.boardCell {
    background-color:var(--white) ;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

div.board div.boardCell.winningSquare {
    background-color: var(--light-green);
    transition: 0.8s ease-in-out;

}
div.board div.boardCell:hover {
    transform: scale(1.05);
}
footer {
    text-align: center;
    padding: 10px 0;
    font-size: 1.1rem;
    grid-area: footer;
    background-color: var(--white);
}
/* winner modal */
div.endModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(40px,8vh,80px);   
    z-index: 1;

    visibility: hidden;
}
.endModalBlocker {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    transition: 1s ease-in-out;

}
.endModalBlocker.modalHidden {
    background-color: var(--dark-gray);
    opacity: 0.3;
    visibility: visible;
    transition: 1s ease-in-out;
}

.modalItem {
    background-color: var(--white);
    border-radius: var(--border-radius);
    padding: 10px 20px ;
    font-size: 1rem;
    box-shadow: var(--box-shadow);
    transform: scale(0);
    transition: 0.4s ease-in-out;
    visibility: hidden;
}

div.visible,
button.visible {
    transform: scale(1);
    visibility: visible;
    transition: 0.4s ease-in-out;
}

.endModal button{
    padding: 10px 20px ;
    border: none;
}

.endModal button:hover {
    background-color: var(--light-red);
    cursor: pointer;
}
/* random styling */

.fa-arrow-left {
    position: absolute;
    top: 25px;
    left: 25px;
    transform: scale(2);
    visibility: hidden;
    box-shadow: var();
}

.fa-arrow-left:hover {
    transform: scale(2.2);
    cursor: pointer;
    
}

input[type='checkbox'] {
    cursor: pointer;
    -webkit-appearance: none;
    position: relative;
    border-radius: var(--border-radius);
    background-color: var(--gray);
    width: 2.5rem;
    height: 1rem;

}
input[type='checkbox']::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: var(--light-red);
    border-radius: var(--border-radius);
    transform: scale(1.2);
    transition: 0.35s ease all;
    left: 0;
}

input:checked[type="checkbox"]::before {
    background-color: var(--light-green);
    left: 1.5rem;
}

a {
    color:black;
}

/* media queries */
@media only screen and (max-width: 580px)  {
    .inputContainer {
        flex-direction: column;
        gap: clamp(30px, 6vh, 60px);
    }
}
